<nav class="navbar navbar-expand-lg  fixed-top py-4" [class.scrolled]="isScrolled">
  <div class="container">
    <a class="navbar-brand text-uppercase " routerLink="logo" >Start Framework</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item px-2">
          <a class="nav-link text-uppercase  " aria-current="page" routerLinkActive="activee rounded-3" routerLink="about">about</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-uppercase  " routerLinkActive="activee rounded-3" routerLink="portfolio">portfolio</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-uppercase " routerLinkActive="activee rounded-3" routerLink="contact">contact</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>