

<section>
    <div class="contact-txt text-center">
        <h2 class="text-uppercase">Contact Section</h2>
        <div class="star">
            <i class="fa-solid fa-star"></i>
        </div>
    </div>

    <form class=" mx-auto  p-4">
        
        <div class="form-group position-relative mt-5">
        <input type="text" id="userName" placeholder="userName" class="form-control border-0 border-bottom py-2  " name="userName" >
         
            <label for="userName" class="user-label">userName:</label>
        </div>

        
        <div class="form-group position-relative mt-5">
            <input type="number" id="userAge" placeholder="userAge" class="form-control border-0 border-bottom py-2 " name="userAge">
             
                <label for="userAge" class="user-label">userAge:</label>
            </div>

            <div class="form-group position-relative mt-5">
                <input type="email" id="userEmail" placeholder="userEmail" class="form-control border-0 border-bottom py-2 " name="userEmail">
                 
                    <label for="userEmail" class="user-label">userEmail:</label>
                </div>

                <div class="form-group position-relative mt-5">
                    <input type="password" id="userPassword" placeholder="userPassword" class="form-control border-0 border-bottom py-2 " name="userPassword">
                     
                        <label for="userPassword" class="user-label">userPassword:</label>
                    </div>

      
        <button class="btn contact-btn mb-3" type="submit">Send Message</button>
    </form>
</section>











<!-- <section>
    <div class="contact-txt text-center">
        <h2 class="text-uppercase">conatct section</h2>
        <div class="star">
            <i class="fa-solid fa-star "></i>
        </div>
    </div>

    <form class="w-50 mx-auto mt-5 p-4">

       
        <input type="text" placeholder="userName" class="form-control border-0 border-bottom py-3 position-relative ng-valid ng-dirty ng-touched" name="userName" [(ngModel)]="text">
       
        @if(text !== ''){
            <label for="userName" class="position-relative top-0 user-label visible">userName:</label>
    
            }@else {
            <label for="userName" class="position-relative top-0 user-label ">userName:</label>

            }
    

        <input type="number" placeholder="userAge" class="form-control border-0 border-bottom pt-5 pb-3">
        <label for="userAge">kkk</label>


               <label for="userEmail"></label>
               <input type="email" placeholder="userEmail" class="form-control border-0 border-bottom pt-5 pb-3">

                      <label for="userPassword"></label>
        <input type="password" placeholder="userPassword" class="form-control border-0 border-bottom pt-5 pb-3">

        <button class="btn contact-btn mb-3"> send Message </button>
    </form>
    <p>{{text}}</p>
    
</section>



 -->
